<section>
    <h2>
        <a id="target" href="#target" aria-hidden="true"></a>
        Целевые и нецелевые клиенты
    </h2>
    <p>Клиенты с заполненными профилями и распределённые на целевых и не целевых:</p>
    <ul>

        <% if(target.length) { %>
            <li>Целевых: <b><%= target.length %></b></li>
        <% } else { %>
            <li>Целевых нет</li>
        <% } %>

        <% if(no_target.length) { %>
            <li>Нецелевых: <b><%= no_target.length %></b></li>
        <% } else { %>
            <li>Нецелевых нет <br><small>Возможно менеджеры заполняют профили неправильно</small></li>
        <% } %>

    </ul>
</section>