<style> * { padding: 0; margin: 0;font-family:"Helvetica Neue",Helvetica,sans-serif; }</style>
<div style="padding: 2rem;">
    <h1 style="font-size: 24px;line-height: 1.7;">Техническая ошибка</h1>
    <p style="font-size: 18px;">
        У нас что-то пошло не так. Попробуйте обновить страницу через несколько минут или<br>
        обратитесь в поддержку: <strong>+7 (701) 932-02-28, Максим</strong>
    </p>
</div>