<section>
    <h2>
        <a id="funnel" href="#funnel" aria-hidden="true"></a>
        Общий отчёт
    </h2>
    <p>
    <ul>
        <li>Новых клиентов — <b><%= all_customers.length %></b></li>

        <% if (missing.length > 0) { %>
            <li>Клиенты, которым никто не ответил и не перезвонил — <b><%= missing.length %></b></li>
        <% } %>


        <% if (no_profile_fix || no_profile.length > 0){ %>
            <li>Клиенты, у которых не заполнен профиль — <b><%= no_profile_fix || no_profile.length %></b></li>
        <% } %>


        <hr style="margin: .5em 0;">
        <li style="list-style: none;">
            Обработанные клиенты — <b><%= with_profile.length %></b>
        </li>
    </ul>
    </p>
</section>