<% if (managers_no_profile && (_.values(managers_no_profile)).length !== 0) { %>
<section>
    <h2>
        <a id="managers" href="#managers" aria-hidden="true"></a>
        О менеджерах
    </h2>
    <p>Менеджеры, которым нужно заполнить профили своих клиентов:</p>
    <ul>
        <% managers_no_profile.forEach(({ name, count }) => { %>
            <li><%= name %> — <b><%= count %></b></li>
        <% }); %>
    </ul>
</section>
<% } %>