<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <title>MindSales: вход</title>
    <base href="/">
    <%- include common/page-title.ejs %>
</head>
<body>
        <div style="padding-top: 7%;">
            <div class="title" style="width:400px; padding: 0;">
                <h1>
                    MIND<span style="font-weight: 500;color:#A9649E;">SALES</span>
                </h1>
            </div>

            <div class="form-section" style="width:400px;">
                <form class="form" id="login-data">
                    <div class="form-item">
                        <label>Логин</label>
                        <input type="text" name="login" placeholder="Эл. почта или номер телефона">
                    </div>
                    <div class="form-item">
                        <label>Пароль</label>
                        <input type="password" name="password">
                    </div>

                    <div class="form-item">
                        <button type="button" class="button primary big" id="login">
                            Войти
                        </button>
                    </div>
                </form>
            </div>
        </div>
</body>
<script src="assets/js/jq.js"></script>
<script src="assets/js/login.js"></script>
</html>