<div class="form-section">
    <h3>Информация о клиенте</h3>
    <form class="form" id="account-details">
        <div class="form-item">
            <label>Название компании</label>
            <input type="text" name="name" class="big">
        </div>

        <div class="hide">
            <div class="form-item">
                <label>Cфера деятельности</label>
                <input type="text" name="company">
            </div>

            <div class="form-item">
                <label>Сайт</label>
                <input type="text" name="company">
            </div>

            <div class="form-item">
                <label>Количество сотрудников</label>
                <select class="select">
                    <option value="">Не известно</option>
                    <option value="">5-10</option>
                    <option value="">50-100</option>
                </select>
            </div>

            <div class="row">
                <div class="col col-6">
                    <div class="form-item">
                        <label>Страна</label>
                        <input type="text">
                    </div>
                </div>
                <div class="col col-6">
                    <div class="form-item">
                        <label>Город</label>
                        <input type="text">
                    </div>
                </div>
            </div>

            <div class="form-item">
                <label>Источник</label>
                <select class="select">
                    <option value="">Не помню</option>
                    <option value="">Сайт</option>
                    <option value="">Рассылка</option>
                    <option value="">Сарафанка</option>
                    <option value="">Продажа Макса</option>
                    <option value="">Партнёрка</option>
                    <option value="">Тестовая учётка</option>
                </select>
            </div>
        </div>
    </form>
</div>
