<div class="form-section">
    <h3>Качество обслуживания</h3>
    <form class="form" id="service">
        <div class="row">
            <div class="col col-6">
                <div class="form-item">
                    <label>
                        Скорость ответа
                        <span class="desc">в секундах</span>
                    </label>
                    <input type="text" name="maxWaitingTime">
                    <div class="desc">Максимальное время ожидания клиента на линии</div>
                </div>
            </div>
            <div class="col col-6">
                <div class="form-item">
                    Длительность разговора
                    <span class="desc">в секундах</span>
                    <input type="text" name="maxAnswerTime">
                    <div class="desc">Максимальное время разговора с клиентом</div>
                </div>
            </div>
        </div>
    </form>
</div>