body { background: #E7E6E1; }

a.jouele { visibility: hidden }

.c { text-align: center; }
.h { display: none; }

.content { padding: 2rem; }

.title {
    padding: 1rem 0;
    margin: 0 auto;
    width: 70%;
    max-width: 960px;
}

.title h2 { font-weight: 300; opacity: .8; font-size: 1.4rem; line-height: 1; }

.form-section {
    padding: 2rem 3rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 3px;
    width: 70%;
    max-width: 960px;
}

.form-item > .select { border-radius: 2px; }

.form-item input, .form-item textarea, .form-item select {
    border: 1px solid #bfbfbf;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.055);
}

.form-item select {
    background: url(../images/triangle.png) no-repeat right 10px center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-item input:focus, .form-item textarea:focus {
    border-color: #A9649E;
    box-shadow: 0 0 6px #E7E6E1;
    transition: all 0.2s ease;
}

.button.primary {
    background: #A9649E;
    color: #fff;
}

.button.primary:focus:enabled, .button.primary:hover:enabled{
    background-color: #B82DA2;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    outline: none;
    color: #fff;
}

.button.primary:hover:disabled {
    background: #A9649E;
    cursor: not-allowed;
}

.button.small {
    font-size: 13px;
    line-height: 31px;
    height: 32px;
    padding: 0 20px;
}


.remove-button { background: #F9543F; color: #fff; }
.remove-button:hover { color: #fff; }

.form-item input.search {
    background: url(../images/search.png) no-repeat right 10px center;
}

.preloader-small {
    background: url(../images/loader30.gif) no-repeat center center;
}

.preloader-big {
    background: url(../images/loader80.gif) no-repeat center center;
}

.tds { width: 10%; }

h1, h2, h3 { font-weight: 500; }
h1 { font-weight: 300; font-size: 2.2rem; line-height: 1.2; }
h3 { font-weight: 700; font-size: 1.1rem; line-height: 1.2; }

.c3-axis-y .tick {
    display: none;
}