.main-menu {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262223;
    font-size: 18px;
}

.mm-logotype {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-weight: 300;
}

.mm-logotype:hover {
    color: #fff;
    background: transparent;
}

.mm-logotype__boldy { font-weight: 500; }
.mm-logotype:hover .mm-logotype__boldy { color: #B82DA2; }

.main-menu__item {
    float: left;
}

.mm-item__link {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-weight: 300;
}

.mm-item__text {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-weight: 300;
}

.mm-item__link:hover {
    color: #fff;
    background: #333;
}

.mm-item__link-active {
    color: #FFAD01;
    background: transparent;
}

.mm-item__link-active:hover {
    color: #FFAD01;
    background: transparent;
}

.mm-item_link-system {
    float: right;
}