<meta charset="UTF-8">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
<title>MindSales: <%= title %></title>
<base href="/">
<link href="assets/css/kube.css" rel="stylesheet">
<link href="assets/css/grid.css" rel="stylesheet">
<link href="assets/css/customs.css" rel="stylesheet">
<link href="assets/css/main-menu.css" rel="stylesheet">
<link href="assets/css/sub-menu.css" rel="stylesheet">
<script src="assets/js/jq.js"></script>