<div class="submenu">
    <a href="/stats/missing-vs-all"
       class="subItem <%= subPage === 'missing-vs-all' && 'subItem-active' %>">
        Соотношение входящих и пропущенных
    </a>
    <a href="/stats/incoming"
       class="subItem <%= subPage === 'incoming' && 'subItem-active' %>">
        Время входящих
    </a>
    <a href="/stats/missing"
       class="subItem <%= subPage === 'missing' && 'subItem-active' %>">
        Время пропущенных
    </a>
</div>