<div class="submenu">
    <a href="/stats/missing-vs-all" class="l-filter <%= subPage === 'missing-vs-all' && 'f-active' %>">
        Соотношение входящих и пропущенным
    </a>
    <a href="/stats/incoming" class="l-filter <%= subPage === 'incoming' && 'f-active' %>">
        Время входящих
    </a>
    <a href="/stats/missing" class="l-filter <%= subPage === 'missing' && 'f-active' %>">
        Время пропущенных
    </a>
</div>