<link href="assets/css/datepicker.css" rel="stylesheet">
<script src="assets/js/datepicker.js"></script>
<div class="form-section">
    <h3>Период</h3>
    <form class="form" id="periodForm">
        <div class="row">
            <div class="col col-5">
                <div class="form-item">
                    <label>
                        Дата начала
                        <span class="desc">периода</span>
                    </label>
                    <input type="text" id="periodStart" data-date-format="d M yyyy" name="start"
                           value="<%= moment(range.start).format('D MMM YYYY') %>"/>
                </div>
            </div>
            <div class="col col-5">
                <div class="form-item">
                    <label>Дата окончания</label>
                    <input type="text" id="periodEnd" data-date-format="d M yyyy" name="end"
                           value="<%= moment(range.end).format('D MMM YYYY') %>"/>
                </div>
            </div>
            <div class="col col-1">
                <div class="form-item">
                    <label style="visibility: hidden">Action</label>
                    <button type="button" id="setPeriod" class="button primary">
                        Показать
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    (function($) {
        var form = {
            start: <%- new Date(range.start).getTime() %>,
            end: <%- new Date(range.end).getTime() %>
        };


        $.fn.datepicker.language['ru'].monthsShort = [
            "янв.","февр.","мар.","апр.","мая","июня",
            "июля","авг.","сент.","окт.","нояб.","дек."
        ];
        $('#periodEnd').datepicker({
            autoClose: true,
            todayButton: new Date(),
            onSelect (fd, d, calendar) {
                form.end = new Date(d).getTime()
            }
        });
        $('#periodStart').datepicker({
            autoClose: true,
            todayButton: new Date(),
            onSelect (fd, d, calendar) {
                form.start = new Date(d).getTime()
            }
        });

        $("#setPeriod").on('click', setPeriod);

        function setPeriod() {
            if ( form && form.start && form.end ) {
                location.href = `${ location.pathname }?start=${ form.start }&end=${ form.end }`;
            }
        }
    })(jQuery);
</script>