<div class="submenu">
    <a href="/stats/leads" class="l-filter <%= subPage === 'leads' && 'f-active' %>">
       Источники
    </a>
    <a href="/stats/leads-by" class="l-filter <%= subPage === 'leads-by' && 'f-active' %>">
        Источники по интервалам
    </a>
    <a href="/stats/missing-vs-all" class="l-filter <%= subPage === 'missing-vs-all' && 'f-active' %>">
        Ответы на звонки
    </a>
    <a href="/stats/missing" class="l-filter <%= subPage === 'missing' && 'f-active' %>">
        Пропущенные
    </a>
</div>