<div class="submenu">
    <a href="/stats/leads" class="l-filter
        <% if (subPage === 'leads' || subPage === 'leads-by'){ %> f-active <% } %>">
       Рекламные источники
    </a>
    <a href="/stats/missing-vs-all" class="l-filter
        <% if (subPage === 'missing-vs-all' || subPage === 'missing' || subPage === 'incoming'){ %> f-active <% } %>">
        Входящие и пропущенные
    </a>
    <a href="/stats/waiting" class="l-filter <%= subPage === 'waiting' && 'f-active' %>">
        Cкорость ответов
    </a>
</div>