<% if ( user.access === 'manager' ) { %>
<div class="row" style="text-align:center;padding-top:1rem;">
    <% user.phones.forEach( phone => { %>
    <div class="col">
        <a class="button small primary js-callback"
           role="button"
           from="<%= phone %>"
           to="<%= call.contact.phone %>"
           call-id="<%= call._id %>">
            Позвонить с <%= phone %>
        </a>
    </div>
    <% }); %>
</div>
<% } %>