<% if (newcalls && newcalls.length > 0) { %>
    <%
    function declOfNum(number, titles) {
        var cases = [2, 0, 1, 1, 1, 2];
        return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
    }
    %>
    <div class="alert warning cbox">
        Заполни профиль у
        <a href="/calls?show=myContacts&onlyNew=1"><%=
            newcalls.length + ' ' + declOfNum(newcalls.length, ['клиента','клиентов','клиентов']);
        %></a>
    </div>
<% } %>